<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbut.hanson.mapper.StudentMapper">

<!-- 被注解使用 -->
<resultMap id="studentResultMap" type="student">
	<id column="stuid" property="stuid"/>
	<result column="stuname" property="stuname"/>
</resultMap>

</mapper>