<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/aop 
						http://www.springframework.org/schema/aop/spring-aop.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!-- 基于XML配置AOP -->
					
	<bean id="player" class="com.hbut.hanson.xmlaop.Player"></bean>
	<bean id="audience" class="com.hbut.hanson.xmlaop.Audience"></bean>
	<aop:config>
		<aop:aspect ref="audience">
			<aop:pointcut id="performance" expression="execution( * com.hbut.hanson.xmlaop.Performance.perform(..))"/>
			<aop:before method="takeSeat" pointcut-ref="performance"/>
			<aop:before method="silenceMobile" pointcut-ref="performance"/>
			<aop:after-returning method="applaud" pointcut-ref="performance"/>
			<aop:after-throwing method="demandRefund" pointcut-ref="performance"/>
			<aop:around method="watchPerform" pointcut-ref="performance"/>
		</aop:aspect>
	</aop:config>
   
</beans>